In [1]:
import pandas as pd

In [22]:
df=pd.read_csv('cryptodata.csv')

In [23]:
df

               ID  Rank Symbol           Name    Price(USD)    Max Supply
0         bitcoin     1    BTC        Bitcoin  20182.490052  2.100000e+07
1        ethereum     2    ETH       Ethereum   1436.149351           NaN
2          tether     3   USDT         Tether      1.006094           NaN
3    binance-coin     4    BNB            BNB    273.837059  1.668011e+08
4        usd-coin     5   USDC       USD Coin      0.920365           NaN
..            ...   ...    ...            ...           ...           ...
95         decred    96    DCR         Decred     17.987323  2.100000e+07
96           holo    97    HOT           Holo      0.001519           NaN
97       compound    98   COMP       Compound     36.168769  1.000000e+07
98      ravencoin    99    RVN      Ravencoin      0.021456  2.100000e+10
99  yearn-finance   100    YFI  yearn.finance   7062.369016  3.666600e+04

[100 rows x 6 columns]

In [25]:
df=df.fillna(value=0)

In [26]:
df

               ID  Rank Symbol           Name    Price(USD)    Max Supply
0         bitcoin     1    BTC        Bitcoin  20182.490052  2.100000e+07
1        ethereum     2    ETH       Ethereum   1436.149351  0.000000e+00
2          tether     3   USDT         Tether      1.006094  0.000000e+00
3    binance-coin     4    BNB            BNB    273.837059  1.668011e+08
4        usd-coin     5   USDC       USD Coin      0.920365  0.000000e+00
..            ...   ...    ...            ...           ...           ...
95         decred    96    DCR         Decred     17.987323  2.100000e+07
96           holo    97    HOT           Holo      0.001519  0.000000e+00
97       compound    98   COMP       Compound     36.168769  1.000000e+07
98      ravencoin    99    RVN      Ravencoin      0.021456  2.100000e+10
99  yearn-finance   100    YFI  yearn.finance   7062.369016  3.666600e+04

[100 rows x 6 columns]

In [27]:
df.to_csv('Crypto Dataset.csv')